<div class="box">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <div class="title">
            <a routerLink="/singleOrder">
              <h4>Single Oreder</h4>
            </a>
          </div>
          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>
          <a routerLink="/singleOrder"><button class=" btn btn-sm btn-primary">List Open</button></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <div class="title">
            <a routerLink="/multipleOrder">
              <h4>Multiple Order</h4>
            </a>
          </div>
          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>
          <a routerLink="/multipleOrder"><button class=" btn btn-sm btn-primary">List Open</button></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <div class="title">
            <a routerLink="/reports">
              <h4>Reports</h4>
            </a>
          </div>
          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>
          <a routerLink="/reports"><button class=" btn btn-sm btn-primary">List Open</button></a>
        </div>
      </div>
    </div>
  </div>
</div>